@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap');

.box1 {
    display: flex;
    justify-content: center;
    padding: 3px;
    background: white;
    width: 100%;
    margin: 40px 0 15px 0;
    border-radius: 7px;
    border-width: 1px;
}

.box2 {
    background: white;
    width: 100%;
    padding: 4px;
    border-radius: 7px;
    border-width: 1px;
}